<% if works.any? %>
  <ul class="list-unstyled">
    <% works.each do |mywork| %>
        <div class="media-body">
            <div class="row">
  <aside class="col-sm-2">
    <div>
        <% if mywork.avatar.attached? %>
<%=link_to image_tag(mywork.avatar, { size: 50 }), work_path(mywork)%>
       <% end %>
    </div>
  </aside>
            <div class="col-sm-10">
              <div>
            <%= mywork.title %>
          </div>
          <div class="row">
          <div>
            <%= mywork.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>

    <% if current_user == mywork.user %>
    <div class="ml-3 px-5">
      <%= link_to 'この投稿を削除する', mywork, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } ,class: "btn btn-danger" %>
      </div>
                </div>
                </div>
    <% end %>
    <div class="ml-3">
    <%= render 'favorites/favorite',  work: mywork ,user: mywork.user  %>
        </div>
        </div>
        </div>
    <% end %>
        
  </ul>
<% end %>
    