<div class="text-center">
  <h1>作品投稿</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @work, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :image, '画像' %>
        <%= f.text_field :image, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content, '作品説明' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <%= f.submit '投稿！', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>