<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <% if @user.avatar.attached? %>
<%= image_tag(@user.avatar, { size: 300 }) %>
       <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= myworks_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(myworks_user_path(@user)) %>">投稿作品  <span class="badge badge-secondary"></span></a></li>
      <li class="nav-item"><a href="<%= myinfos_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(myinfos_user_path(@user)) %>">質問一覧  <span class="badge badge-secondary"></span></a></li>
      <li class="nav-item"><a href="<%= myshares_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(myshares_user_path(@user)) %>">投稿シェアリング  <span class="badge badge-secondary"></span></a></li>
      <li class="nav-item"><a href="<%= myfaves_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(myfaves_user_path(@user)) %>">お気に入り  <span class="badge badge-secondary"></span></a></li>
    </ul>
    <%= render 'shares/myshares', shares: @myshares %>
  </div>
</div>