<% if infos.any? %>
  <ul class="list-unstyled">
    <% infos.each do |myinfo| %>
        <div class="media-body">
            <div class="row">
  <aside class="col-sm-2">
        <% if myinfo.user.avatar.attached? %>
<%= image_tag(myinfo.user.avatar, { size: 60 }) %>
       <% end %>
  </aside>
            <div class="col-sm-10">
              <div>
            <%= myinfo.title %>
          </div>
          <div class="row">
          <div>
            <%= myinfo.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>

    <% if current_user == myinfo.user %>
    <div class="ml-3 px-5">
      <%= link_to 'この質問を削除する', myinfo, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } ,class: "btn btn-danger" %>
      </div>
    <% end %>
          <p>回答数: <%= myinfo.answers.count %> </p>
              </div>
        </div>
                          </div>
  </ul>
<% end %>
<% end %>